* {
	margin: 0;
}


html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



/**********BACKGROUND 1*********/


.bg1 {
	background: url(../img/1.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 662px;
	background-repeat: no-repeat;
}


/**********BACKGROUND 2*********/
.bg2 {
	background: url(../img/2.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 662px;
	background-repeat: no-repeat;
}


/**********BACKGROUND 3*********/
.bg3 {
	background: url(../img/3.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 662px;
	background-repeat: no-repeat;
}

/**********BACKGROUND 4*********/
.bg4 {
	background-image: url(../img/4.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 662px;
	background-repeat: no-repeat;
}

/**********BACKGROUND 5*********/
.bg5 {
	background-image: url(../img/5.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 862px;
	background-repeat: no-repeat;
}


/**********BACKGROUND FOOTER*********/
.bgfooter {
	background-image: url(../img/footerbg.jpg);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 370px;
	background-repeat: no-repeat;
}






/*<!-- =========RESPONSIVE NAV================ -->*/

.mainNav {
  background: #243144;
  color: #1a1b18;
  font-family: 'Roboto Slab', serif;
  font-weight: 200;
  /* border-bottom: #17e8ef !important; */
  /* border-bottom: #17e8ef; */
  max-height: 70px;
  position: fixed;
  width: 100%;
  z-index: 99999;
  border-bottom: 1px solid #17e8ef;
}
.mainNav a {
  text-decoration: none;
}
.mainNav .logo {
  display: inline-block;
  height: 50px;
  width: 50px;
  padding: 0 10px;
  position: relative;
  background-image: url("../img/CDPTLogo.png");
  background-image: burlywood;
  /* background-color: red; */
}

.logoDiv {
/*
	background-image: url("");
	width: 100%;
	height: 100%;
*/
}

.mainNav .logo:hover:before {

}

.mainNav .logo a {

}
.mainNav .menu {
  background: #243144;
  border-bottom: #17e8ef;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #d9d9d9;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
}
.mainNav .menu a {
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px solid #d9d9d9;
  font-weight: bold;
  display: block;
  padding: 15px;
}
.mainNav .menu a:hover {

}
.mainNav .navBars {
  display: inline-block;
  font-size: 1.7em;
  line-height: 1.5em;
  float: right;
  /*USER SELECTION*/
  color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
}

#xBxHack {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}
#xBxHack:checked ~ nav .menu {
  display: block;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (min-width: 600px) {
  .mainNav {
    overflow: hidden;
  }
  .mainNav .navBars {
    display: none;
  }
  .mainNav .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  .mainNav .logo {
    margin: 10px 0;
  }
  .mainNav .menu {
    display: block;
    box-shadow: none;
    border: none;
    float: right;
    /*POSITION*/
    position: static;
    margin-top: 7px;
    background-color: #243144;
    /* font-family: 'Roboto Slab', serif; */
    /* color: #fff; */
    /* border-bottom: #17e8ef; */
  }
  .mainNav .menu li {
    display: inline-block;
  }
  .mainNav .menu a {
    border: none;
    padding: 20px 10px;
  }
}

/*<!-- =========END RESPONSIVE NAV================ -->*/